/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;


/*-- scss:rules --*/

.card-footer {
    color: darken($body-bg, 70%);
    background-color: darken($body-bg, 10%);
}

.main-logo-light { 
  display: block;
  width: auto;
  max-width:450px;
  margin-left:auto;
  margin-right:auto;
}
.main-logo-dark { display: none; }

.landing-text {
  color: darken($body-bg, 70%);
}

/* this adjusts chunk output look */
/* use class-output: output in _metadata.yml */
.output {
  color: lighten(black,5%);
  background-color: lighten(cornsilk,10%);
}