/* css styles */

/* #### DHO added the following #### */

/* Makes the logo in the navbar larger */
.navbar-logo {
  max-height: 40px;
}

/* Makes the text on the landing page a little larger */
.landing-text {
  font-size: 125%;
  padding-bottom: 50px;
}


/* Makes the text on the 404 page a little larger */
.notfound-text {
  font-size: 125%;
  padding-bottom: 50px;
}